body{
    background-image: url(../components/Rounds.jpg);
}
.rectangle{width: 1000px;
  height: 530px;
  background-color: #112198;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(45, 123, 187);}
    .ListRectangle {
        width: 80%;
        height: 80px;
        background-color: #000000;
        margin: 9px;
        margin-left:25px ;
        border: 3px solid rgb(45, 123, 187);
      }
.Square{
 width: 140px;
  height: 80px;
  background-color: #000000;
  margin-top: 12px;
  margin-right: 25px;
  margin-left: 15px;
  border: 3px solid rgb(45, 123, 187);
}
.Final{
    width: 1000px;
    height: 80px;
}
  .Container{
    display: flex;
    margin-top: 1px;
  }
  input{
    width: 40%;
    height: 40px;
    margin-left: 280px;
    margin-top: 40px;
    background-color: aliceblue;
    color: #000000;
    font-size: 40px;
  }